---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* hide the categories box on portfolio/project pages */
.page__taxonomy {
  display: none;
}

.page__hero--overlay,
.page__hero--image {
  max-height: 350px;   /* adjust this number to taste */
  overflow: hidden;
}

.page__hero--overlay img,
.page__hero--image img {
  object-fit: contain; /* prevents ugly cropping */
}

.phone-case-page .page__hero--image,
.phone-case-page .page__hero--overlay {
  max-height: 300px;
  overflow: hidden;
}

.phone-case-page .page__hero--image img,
.phone-case-page .page__hero--overlay img {
  object-fit: contain;
}


